## OLS Through StatsModels vs Projection

In this exercise we're going to run a regression using some trade data.  (The regression model is a gravity model, although the details don't really matter for this exercise.)  The idea is to compute the OLS coefficients and other related quantities using 

1. A regression package, and
2. The expressions given in the lecture on orthogonal projection.

Note that you need to download the data set "trade_data.csv" as well as this notebook.

Your task is to complete the notebook, as discussed below.

First let's try a standard approach, using StatsModels.

In [3]:
matplotlib inline

In [4]:
import pandas as pd
import numpy as np
from numpy import log
import statsmodels.formula.api as smf

First we read in the data.

In [5]:
data = pd.read_csv("trade_data.csv")

Let's see what it looks like.

In [6]:
data.head()

,Unnamed: 0,year,iiso3c,eiso3c,value,contig,comlang_off,colony,dist,distcap,distw,distwces,ell,ill,egdp,egdppc,epop,igdp,igdppc,ipop
0,0,2013,ABW,BEL,774353,0,1,0,7847.070,7847.070,7843.255,7843.006,0,0,4.204710e+11,37599.735498,11182817,NaN,NaN,102921
1,1,2013,ABW,BHS,4712537,0,0,0,1588.515,1588.515,1634.515,1628.143,0,0,7.835118e+09,20736.547344,377841,NaN,NaN,102921
2,2,2013,ABW,CHE,17812626,0,0,0,8056.332,8056.332,8074.21,8073.511,1,0,4.772463e+11,58996.896142,8089346,NaN,NaN,102921
3,3,2013,ABW,CHN,25319168,0,0,0,14155.350,14155.350,14590.92,14560.28,0,0,4.912954e+12,3619.439108,1357380000,NaN,NaN,102921
4,4,2013,ABW,COL,22160086,0,1,0,1036.634,1036.634,929.5887,861.2452,0,0,2.129079e+11,4497.196936,47342363,NaN,NaN,102921

Let's get a full list of columns.

In [7]:
data.columns

Index(['Unnamed: 0', 'year', 'iiso3c', 'eiso3c', 'value', 'contig',
       'comlang_off', 'colony', 'dist', 'distcap', 'distw', 'distwces', 'ell',
       'ill', 'egdp', 'egdppc', 'epop', 'igdp', 'igdppc', 'ipop'],
      dtype='object')

Let's regress 'value' on 'egdp', 'igdp' and 'dist', all in logs.  To do this we make a `formula` object.

In [8]:
formula = "log(value) ~ log(egdp) + log(igdp) + log(dist)"
model = smf.ols(formula, data)

In [9]:
result = model.fit(cov_type='HC1')
print(result.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:             log(value)   R-squared:                       0.615
Model:                            OLS   Adj. R-squared:                  0.614
Method:                 Least Squares   F-statistic:                     936.4
Date:                Thu, 10 Mar 2016   Prob (F-statistic):               0.00
Time:                        17:24:14   Log-Likelihood:                -4228.1
No. Observations:                1777   AIC:                             8464.
Df Residuals:                    1773   BIC:                             8486.
Df Model:                           3
Covariance Type:                  HC1
==============================================================================
                 coef    std err          z      P>|z|      [95.0% Conf. Int.]
------------------------------------------------------------------------------
Intercept    -27.0265      1.198    -22.563      0.000       -29.374   -24.679
log(egdp)      1.2224      0.028     44.202      0.000         1.168     1.277
log(igdp)      0.9679      0.031     30.963      0.000         0.907     1.029
log(dist)     -1.4130      0.069    -20.426      0.000        -1.549    -1.277
==============================================================================
Omnibus:                      179.128   Durbin-Watson:                   1.763
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              316.166
Skew:                          -0.683   Prob(JB):                     2.22e-69
Kurtosis:                       4.551   Cond. No.                         652.
==============================================================================

Warnings:
[1] Standard Errors are heteroscedasticity robust (HC1)

### Replication using Projection

Now let's reproduce the same values using the formulas from the lecture on projection.  I'm going to be nice and build $\mathbf X$ and $\mathbf y$ for you.

In [11]:
data2 = data[['value', 'egdp', 'igdp', 'dist']]
data2 = data2.dropna()

y = np.asarray(np.log(data2.value))
X = np.ones((len(y), 4))
X[:, 1] = log(data2.egdp)
X[:, 2] = log(data2.igdp)
X[:, 3] = log(data2.dist)

Now reproduce the coefficients by computing $\hat \beta$, using the matrix expression given in the lectures.

In [ ]:
# Derive betahat using the expression from the lectures
print(betahat)

Next replicate the value for $R^2$ produced in the table above using the formula given in the lecture slides.

In [12]:
# Derive R^2 using y, Py, etc. as defined in the lecture
print(Rsq)

NameError: name 'Rsq' is not defined